//--------------------------------------
// effing ie11 fixes
// -------------------------------------

// target ie10 - ie 11
@media all and (-ms-high-contrast:none)
    .navElements
        display: block
        #langSwitcher 
            float: right;
        form
            float: right;
    main   
        display: block
    .weiche
        display: block
    .cta .clicker
        width: 400px
    footer .footerWrapper 
        display: block
        
    #logoID 
        margin-left: 20%
    footer 
        img
            width: 30% 
            display: block
            margin: 1rem 0 
            float: left


