/*
/--------------------
/ Colors
/--------------------
*/

:root {
    --black: #02061A;
    --blue: #26809C;
    --lightgreen: #8ACAC9;
    --darkgreen: #010E0E;
    --green: #447F5A;
    --red: #FC0D1B;
    --lightgrey: #F5F2F1;
}
