<section class="hero pageSection">
    <h2>{{entry.hero}}</h2>
    <figure> 
        <img class="lazyload"
            src="{{ siteUrl }}/assets/fixies/SCHAFE-ZIEGEN_Header_900.jpg"
            data-sizes="100vw"
            data-srcset="{{ siteUrl }}/assets/fixies/SCHAFE-ZIEGEN_Header_1300.jpg
            1300w,
            @web/assets/fixies/SCHAFE-ZIEGEN_Header_900.jpg
            900w" 
            >
    </figure>
</section>