<div class="heroParallax">

{% set herotext = entry.text %}
{# {% set parallaxImages = [] %}
{% for parallaxImage in craft.assets.volumeId(1).folderId(7).all()  %}
{% set parallaxImages = parallaxImages|merge([{
    url: parallaxImage.url
}]) %}
{% endfor %} #}

{% if craft.imager.clientSupportsWebp() %}
    {% set webpsupport = true %}
{% else %}
    {% set webpsupport = false %}
{% endif %}
    
<hero-parallax :herotext="{{herotext|json_encode}}" :webpSupport="{{webpsupport|json_encode}}"></hero-parallax>

</div>

